.card {
  flex: 0 1 calc(25% - 1em);
  max-width: 90%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 100px); /* 1/3 minus the margins (20+20) */
  padding: 20px;
  display: block;
  text-align: center;
  float: right;
  @media (width: 768px) {
    background-color: #f00000;
    margin: 10px 20px;
    width: calc(100% - 40px);
    &:first-child {
      margin-top: 20px;
    }
  }
}

.card-header {
  font-size: 15px;
}

.card-header-img {
  max-width: 100%;
  text-align: center;
  height: 200px;
}

.card-body {
  padding: 0;
  margin: 20px 0 50px 0;
}

.card-button {
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  background-color: #3662d8;
  color: #ffffff;
  border-radius: 0.5rem;
}
