.app {
  text-align: center;
  align-items: center;
}

.app-header {
  width: 100%;
  color: #8adda0;
  background-color: #f3814c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}
.app-slogan {
    font-size: 30px;
    font-weight: bold; 
    font-style: italic;
    color: #8adda0
}
.app-subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-divider {
  width: 80%;
  display: flex;
  height: 2px;
  background-color: #3662d8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  font-style: italic;
  position: relative;
  font-weight: bold;
  font-size: 10px;
}
